.mobile-logo-container {
  display: none;
}

.mobile-logo {
  height: 127px;
  width: 315px;
}

@media screen and (max-width: 600px) {
  .mobile-logo-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
