.javascriptlessons-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
}

.javascriptlessons-content {
  padding-top: 8rem;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px !important;
}

.javascriptlessons-content-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.javascriptlessons-score {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d1d0c5;
  font-size: 1.2rem;
}

.javascriptlessons-test {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.javascriptlessons-span {
  color: #d1d0c5;
  font-size: 32px;
}

.javascriptlessons-content-upper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 3rem;
}

.javascriptlessons-arrow {
  width: 80px;
  height: 50px;
}

.javascriptlessons-arrow:hover {
  opacity: 0.6;
  cursor: pointer;
}

.javascriptlessons-arrow-disabled {
  opacity: 0.2;
}

.javascriptlessons-arrow-disabled:hover {
  opacity: 0.2;
  cursor: pointer;
}

.javascriptlessons-main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: auto;
}

.javascriptlessons-answers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 936px;
  color: #d1d0c5;
  border-radius: 0 !important;
  font-size: 1.2rem;
}

.javascriptlessons-answer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.javascriptlessons-number {
  color: #e2b714;
  font-weight: 600;
}

.javascriptlessons-submit {
  background-color: #e2b714;
  color: #323437;
  font-size: 18px;
  height: 2rem;
  width: 5rem;
  align-self: center;
  outline: none;
  border: none;
  padding: 0;
  border-radius: 15px;
}

.javascriptlessons-image {
  width: 80%;
  height: auto;
  border-radius: 15px;
  transform: scale(0.9);
}

@media screen and (max-width: 600px) {
  .javascriptlessons-content {
    padding-top: 5rem;
  }

  .javascriptlessons-span {
    font-size: 24px;
  }

  .javascriptlessons-content-upper-text {
    padding: 0 1rem;
  }

  .javascriptlessons-image {
    width: 100%;
    height: auto;
    transform: scale(0.95);
  }
}
