/* .mathlessons-container {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
}

.mathlessons-image {
  transform: scale(0.6);
  overflow-x: hidden;
}

.mathlessons {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
}

.mathlessons-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2e31;
  border-radius: 15px;
  padding-bottom: 15px;
  width: 50%;
  height: 100%;
  overflow: auto;
}

.mathlessons-content-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mathlessons-content-upper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 200px;
}

.mathlessons-span {
  order: 2;
  color: #d1d0c5;
  font-size: 32px;
}

.mathlessons-span-color {
  color: #e2b714;
  font-size: 24px;
  padding: 15px 0;
}

.mathlessons-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding-top: 9rem;
}

.mathlessons-arrow {
  width: 100px;
  height: 61px;
}

.mathlessons-arrow-disabled {
  opacity: 0.2;
}

.mathlessons-logo {
  height: 127px;
  width: 315px;
}

@media screen and (max-width: 1350px) {
  .mathlessons-content-upper-text {
    padding: 0 150px;
  }
}

@media screen and (max-width: 900px) {
  .mathlessons-content-upper-text {
    padding: 0 100px;
  }
}

@media screen and (max-width: 600px) {
  .mathlessons-list {
    width: 100%;
  }

  .mathlessons-main {
    width: 99%;
    font-size: 24px;
  }

  .mathlessons-span-color {
    font-size: 24px;
    padding: 10px 0;
  }

  .mathlessons-content {
    order: 1;
    padding: 50px 0;
  }

  .mathlessons-span {
    font-size: 24px;
  }

  .mathlessons-content-upper-text {
    padding: 0 45px;
  }

  .mathlessons-arrow {
    width: 78px;
    height: 50px;
  }
} */

.mathlessons-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
}

.mathlessons-content {
  padding-top: 8rem;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mathlessons-content-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 5rem;
}

.mathlessons-span {
  color: #d1d0c5;
  font-size: 32px;
}

.mathlessons-content-upper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 3rem;
}

.mathlessons-arrow {
  width: 80px;
  height: 50px;
}

.mathlessons-arrow:hover {
  opacity: 0.6;
  cursor: pointer;
}

.mathlessons-arrow-disabled {
  opacity: 0.2;
}

.mathlessons-arrow-disabled:hover {
  opacity: 0.2;
  cursor: pointer;
}

.mathlessons-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: auto;
}

.mathlessons-image {
  width: 80%;
  height: auto;
  border-radius: 15px;
  transform: scale(0.9);
}

@media screen and (max-width: 600px) {
  .mathlessons-content {
    padding-top: 5rem;
  }

  .mathlessons-span {
    font-size: 24px;
  }

  .mathlessons-content-upper-text {
    padding: 0 1rem;
  }

  .mathlessons-image {
    width: 100%;
    height: auto;
    transform: scale(0.95);
  }
}
