.footer {
  display: flex;
  justify-content: center;
  background-color: #323437;
  height: 80px;
  width: 100%;
  order: 3;
}

.footer-box {
  display: flex;
  justify-content: center;
  background-color: #2C2E31;
  width: 736px;
  height: 40px;
  border-radius: 15px;
  align-self: center;
}

.footer-box-links {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #D1D0C580
}

@media only screen and (max-device-width: 430px) {
  .footer {
    display: none;
  }
}